<h3>News</h3> 
<p>
    <span class="label label-info">04/2025</span>
    One paper accepted to IJCNN 2025.
<p>
<p>
    <span class="label label-info">12/2024</span>
    Invited talk on "LLM probing" at the <a href="https://scads.ai/1st-workshop-of-learning-large-language-models-for-knowledge-representation/">Workshop</a> held by ScaDS.AI, TU Dresden.
<p>
<p>
    <span class="label label-info">09/2024</span>
    Research stay at Prof. Isabelle Augenstein's CopeNLU group in Denmark.
<p>
<p>
    <span class="label label-info">08/2024</span>
    Visit Prof. Michael Färber's Group at ScaDS.AI, TU Dresden.
</p>  
<p>
    <span class="label label-info">06/2024</span>
    Invited talk on "automatic linguistic annotation" at the <a href="https://sfb1412.hu-berlin.de/event/workshop-methods-in-historical-corpus-building/">Worshop</a> held by Humboldt University of Berlin.
</p>  
<p>
    <span class="label label-info">05/2024</span>
    One paper accepted to ACL 2024.
</p>  
<p>
    <span class="label label-info">05/2024</span>
    One paper accepted to ECML-PKDD 2024.
<p>
    <span class="label label-info">04/2024</span>
    Presentation of prompt-based finetuning at CIS PhD seminar.
</p>  
<p>
    <span class="label label-info">02/2024</span>
    One paper (oral) accepted to EACL 2024.
</p>  
<p>
    <span class="label label-info">02/2024</span>
    One paper accepted to LREC-COLING 2024.
</p>  
<p>
    <span class="label label-info">12/2023</span>
    One paper accepted to NeuIPS 2023 workshop.
</p>  
<p>
    <span class="label label-info">11/2023</span>
    Two papers accepted to EMNLP 2023 workshops.
</p>  
<p>
    <span class="label label-info">11/2023</span>
    One paper accepted to EMNLP 2023.
</p>  
<p>
    <span class="label label-info">09/2023</span>
    One paper (oral) accepted to KONVENS 2023.
</p>  
<p>
    <span class="label label-info">09/2023</span>
    Invited talk on "Academic writing with ChatGPT" at Hubei University, China.
</p>  
<p>
    <span class="label label-info">09/2023</span>
    Oral presentation at the [ALP](https://www.ancientnlp.com/alp2023/) workshop in Varna, Bulgaria.
</p>  
<p>
    <span class="label label-info">05/2023</span>
    One paper accepted to ACL 2023.
</p>  


<p>
    See more in <a href="news/">my news</a>.
</p>  
