<h3>News</h3> 
<p>
    <span class="label label-info">09/2025</span>
    Invited <a href="../files/SJTU_Dresden_2025.pdf">talk</a> on recent human-centric LLMs at the <a href="https://mp.weixin.qq.com/s/h5jD-CeoqbgPcpRA-q8B3g">annual meeting of SJTU German Alumni Association</a>. [<a href="../files/SJTU_Dresden_2025.pdf">Slides</a>]
</p> 
<p>
    <span class="label label-info">09/2025</span>
    Attended the <a href="https://mcml.ai/events/2025-09-24-mcml-lamarr-workshop/">MCML-LAMARR NLP Workshop</a> and gave a <a href="../files/language_confusion.pdf">presentation</a> on interpretability of language confusion in LLMs. [<a href="https://events.lamarr-institute.org/event/262/timetable/#20250924">Schedule</a>]
</p> 
<p>
    <span class="label label-info">08/2025</span>
    Two papers accepted to <a href="https://2025.emnlp.org/">EMNLP 2025</a> Findings and one paper accepted to <a href="https://pals-nlp-workshop.github.io/">PALS</a> Workshop. See you in Suzhou, China!
</p> 
<p>
    <span class="label label-info">07/2025</span>
    Our <a href="https://aclanthology.org/2025.acl-long.253.pdf">multilingual interpretability work</a> was awarded SAC Highlights at ACL 2025!
</p> 
<!-- <p>
    <span class="label label-info">06/2025</span>
    Presenting recent work on <a href="../files/language_confusion.pdf">interpretability of language confusion</a> at CIS PhD seminar.
</p>  -->
<p>
    <span class="label label-info">06/2025</span>
    Invited <a href="../files/CSSA_Munich_talk.pdf">talk</a> (zh) on interdisciplinary NLP research at CSSA Munich.
</p>
<p>
    <span class="label label-info">06/2025</span>
    Two papers accepted to ACL 2025 Workshops (<a href="https://sigtyp.github.io/workshop.html">SIGTYP</a> and <a href="https://fever.ai/workshop.html">FEVER</a>).
</p>
<p>
    <span class="label label-info">05/2025</span>
    Three papers accepted to ACL 2025 (one oral, one poster, one findings).
</p> 
<p>
    <span class="label label-info">04/2025</span>
    Attended <a href="https://scai.sorbonne-universite.fr/public/events/view/758217297999e78bcad4/9">Spring School</a> on emotional intelligence at <a href="https://scai.sorbonne-universite.fr/">SCAI</a> in Paris.
</p> 
<p>
    <span class="label label-info">04/2025</span>
    One paper accepted to IJCNN 2025.
</p> 
<p>
    <span class="label label-info">12/2024</span>
    Invited talk on "<a href="../files/Probing_Dresden_2024.pdf">LLM probing</a>" at the <a href="https://scads.ai/1st-workshop-of-learning-large-language-models-for-knowledge-representation/">Workshop</a> held by ScaDS.AI, TU Dresden.
</p>
<p>
    <span class="label label-info">09/2024</span>
    Research stay at Prof. Isabelle Augenstein's CopeNLU group in Denmark.
</p>
<p>
    <span class="label label-info">08/2024</span>
    Visited Prof. Michael Färber's Group at ScaDS.AI, TU Dresden.
</p>  
<p>
    <span class="label label-info">06/2024</span>
    Invited talk on "<a href="../files/Berlin_workshop.pdf">automatic linguistic annotation</a>" at the <a href="https://sfb1412.hu-berlin.de/event/workshop-methods-in-historical-corpus-building/">Worshop</a> held by Humboldt University of Berlin.
</p>  
<p>
    <span class="label label-info">05/2024</span>
    One paper accepted to ACL 2024.
</p>  
<p>
    <span class="label label-info">05/2024</span>
    One paper accepted to ECML-PKDD 2024.
</p>
<p>
    <span class="label label-info">04/2024</span>
    Presentation of <a href="../files/PomptFT_slides.pdf">prompt-based finetuning</a> at CIS PhD seminar.
</p>  
<p>
    <span class="label label-info">02/2024</span>
    One paper (oral) accepted to EACL 2024.
</p>  
<p>
    <span class="label label-info">02/2024</span>
    One paper accepted to LREC-COLING 2024.
</p>  
<p>
    <span class="label label-info">12/2023</span>
    One paper accepted to NeuIPS 2023 <a href="https://an-instructive-workshop.github.io/">Instruction Workshop</a>.
</p>  
<p>
    <span class="label label-info">11/2023</span>
    Two papers accepted to EMNLP 2023 workshops (<a href="https://blp-workshop.github.io/">BLP</a> and <a href="https://babylm.github.io/">BabyLM</a>).
</p>  
<p>
    <span class="label label-info">11/2023</span>
    One paper accepted to EMNLP 2023.
</p>  
<p>
    <span class="label label-info">09/2023</span>
    One paper (oral) accepted to KONVENS 2023.
</p>  
<p>
    <span class="label label-info">09/2023</span>
    Invited talk on "<a href="../files/Academic_writing_with_ChatGPT.pdf">Academic writing with ChatGPT</a>" at Hubei University, China.
</p>  
<p>
    <span class="label label-info">09/2023</span>
    Oral presentation at the <a href="https://www.ancientnlp.com/alp2023/">ALP</a> workshop in Varna, Bulgaria.
</p>  
<p>
    <span class="label label-info">05/2023</span>
    One paper accepted to ACL 2023.
</p>  


<p>
    See more in <a href="news/">my news</a>.
</p>  
